.back-drop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

/* Tablet and Laptops */
@media (min-width: 600px) {
}

/* Large Screens */
@media (min-width: 900px) {
}

/* Extra Large Screens */
@media (min-width: 1200px) {
}
