.details-display {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* padding: 1rem; */
  margin-top: 2rem;
}

/* Tablet and Laptops */
@media (min-width: 600px) {
}

/* Large Screens */
@media (min-width: 900px) {
}

/* Extra Large Screens */
@media (min-width: 1200px) {
}
