.page--home {
  height: 300px;
  justify-content: space-around;
  align-self: center;
}
.page--home h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.page--home p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
