.page--register p {
  margin-top: 2rem;
  font-size: 1.5rem;
}

.pass-error {
  position: absolute;
  left: 0;
  top: 30px;
  font-size: 1.3rem;
  color: rgb(233, 60, 60);
}

/* Tablet and Laptops */
@media (min-width: 600px) {
  .page--register p {
    margin-top: 2rem;
    font-size: 1.7rem;
  }
}

/* Large Screens */
@media (min-width: 900px) {
}

/* Extra Large Screens */
@media (min-width: 1200px) {
}
