/* Your css styling goes here */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  /* background-color: #302d43;
  color: white; */
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

/* select {
  padding-left: 0.5rem;
  font-size: 1.3rem;
  font-family: inherit;
  width: 100%;
  height: 30px;
}

select:focus {
  outline: none;
  border: 1px solid black;
} */

.page {
  width: 100%;
  /* height: 300px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* align-self: center; */
}

.page--home {
  justify-content: space-around;
}

.box {
  border: 1px solid black;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.box--title {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.7rem;
}

.box--par {
  font-size: 1.7rem;
  line-height: 1.5;
}

/* Form Elements */
form {
  width: 100%;
  align-self: center;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
  background-color: rgba(6, 90, 146, 0.7);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.form-control {
  margin: 1rem;
  width: 100%;
  height: 40px;
  position: relative;
}

.form-control input {
  padding: 1rem;
  font-size: 1.3rem;
  width: 100%;
  height: 30px;
  border: none;
  font-family: inherit;
}

.form-control input:focus {
  outline: none;
  border: 1px solid black;
}

.btn {
  padding: 0.5rem;
  width: 100px;
  height: 30px;
  display: block;
  font-size: 1.3rem;
  font-family: inherit;
  margin: 0 auto;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.btn-view {
  background-color: rgba(6, 90, 146, 0.3);
  border: 1px solid black;
  width: 20%;
}

.wrapper {
  width: 100%;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Utilities */
.container {
  width: 100%;
  min-height: calc(100vh - 80px);
  margin: 0rem auto;
  display: flex;
  /* flex-direction: column; */
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  text-align: center;
  position: relative;
  padding: 2rem 0.5rem;
}

h1 {
  font-size: 1.6rem;
  /* text-transform: uppercase; */
  letter-spacing: 2px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  /* margin-top: 2rem; */
  text-align: left;
}

/* Tablet and Laptops */
@media (min-width: 600px) {
  .container {
    width: 70%;
    /* margin: 3rem auto; */
    padding: 2rem;
    min-height: calc(100vh - 100px);
  }
  h1 {
    font-size: 2rem;
  }
  select {
    width: 50%;
    font-size: 1.6rem;
  }
  .form {
    /* width: 500px; */
    margin: 0 auto;
  }
  .form-control {
    height: 40px;
  }
  .form-control input {
    /* padding: 2rem; */
    font-size: 1.7rem;
  }
  .btn {
    padding: 1rem;
    font-size: 1.5rem;
  }
}

/* Large Screens */
@media (min-width: 900px) {
  .container {
    width: 60%;

    /* margin: 3rem auto; */
  }
  h1 {
    font-size: 2.5rem;
  }
  select {
    font-size: 1.7rem;
  }
  .box {
    padding: 2rem;
  }
}

/* Extra Large Screens */
@media (min-width: 1200px) {
  .container {
    width: 50%;
    /* margin: 4rem auto; */
    padding: 3rem;
  }
  h1 {
    font-size: 2.7rem;
    /* margin-top: 3rem; */
  }
  select {
    font-size: 1.8rem;
  }
}
